
$bg-color: #f1f5f6;

$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

$blue-color: #409EFF;
$text1-color: #303133;
$text2-color: #606266;
$text3-color: #909399;
$text4-color: #C0C4CC;

$btn-color: #409EFF;
$btn-hover-color: #66b1ff;

$disabled-bg-color: #f4f4f5;
$disabled-border-color: #e9e9eb;
$disabled-text-color: #bcbec2;
